@use './components/markdown-editor';
@use './components/markdown-previewer';
@use './components/page-previewer';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
html {
	width: 100%;
	height: 100%;
}
#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.App {
	width: inherit;
	min-height: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: none;
	grid-template-areas:
		"editor html-preview"
		"page-preview page-preview";
	padding: 10px;
	background-image: url("https://images7.alphacoders.com/617/617537.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 1000px) {
	.App {
		grid-template-areas: "editor" "html-preview" "page-preview";
		grid-template-rows: 500px 500px 500px;
	}
	#root {
		height: auto;
	}
}
