@use './components/markdown-editor';
@use './components/markdown-previewer';
@use './components/page-previewer';
:root {
	--editor-scrollbar-color: rgba(0, 0, 0, 0.8);
	--editor-bg-color: rgba(255, 255, 255, 0.5);
	--editor-scrollbar-thumb-color: orangered;
	--editor-border-color: white;
	--editor-header-color: rgba(140, 0, 248, 0.8);
	--header-icon-color: white;
	--text-color: black;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {

	height: 100%;
	width: 100%;
	&::-webkit-scrollbar {
		width: 5px;
		background-color: yellow;
	}
}
#root {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.App {
	width: inherit;
	height: inherit;
	display: grid;
	grid-gap: 10px;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	grid-template-rows: none;
	grid-auto-rows: minmax(500px , 500px);
	grid-template-areas:
		"editor html-preview"
		"page-preview page-preview"
		;
	padding: 10px;
	background-image: url("https://images7.alphacoders.com/617/617537.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.window {
	border: 2px solid var(--editor-bg-color);
	border-radius: 10px;
	width: 100%;
	position: relative;
	padding: 5px;
	display: flex;
	flex-direction: column;
	background-color: var(--editor-bg-color);
	color: var(--text-color);
	transition: height, 100ms ease;
}
.header-section {
	width: 100%;
	display: flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	background-color: var(--editor-header-color);
	.header {
		padding: 10px 0;
		width: 100%;
		display: grid;
		grid-template-columns: 80px 1fr 80px;
		justify-content: center;
		align-items: center;
		color: white;
		p {
			font-size: 1.5em;
			text-align: center;
			margin-bottom: 0;
			font-weight: bolder;
			font-family: "Lato", sans-serif;
		}
		.header-icon {
			font-size: 1.8em;
			color: white;
			margin-left: 15px;
		}
		button {
			background: none;
			outline: none;
			border: none;
			i {
				color: var(--header-icon-color);
				font-size: 1.2em;
				font-weight: bolder;
				padding: 10px;
				border-radius: 50%;
				cursor: pointer;
				position: relative;
				transform: scale(1);
				transition: background-color, transform, 100ms ease-in-out;
				&:hover {
					background-color: rgba(0, 0, 0, 0.7);
					transform: scale(1.1);
					transition: background-color, transform, 100ms ease-in-out;
				}
			}
		}
	}
}
.md-editor {
	grid-area: md;
}
.html-editor {
	grid-area: html;
}
.previewer {
	grid-area: previewer;
}
.display-section {
	color: var(--text-color);
	resize: none;
	outline: none;
	width: 100%;
	height: 100%;
	border: none;
	margin-top: 5px;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	font-size: 1em;
	font-weight: bold;
	font-family: "Roboto", monospace;
	padding: 5px;
	z-index: 10;
	transition: height, 200ms ease;
	&::-webkit-scrollbar {
		width: 8px;
		border-radius: 0 10px 10px 0;
		height: 100%;
		cursor: pointer;
		background-color: var(--editor-scrollbar-color);
	}
	&::-webkit-scrollbar-button {
		display: none;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--editor-scrollbar-thumb-color);
		border-radius: 0 10px 10px 0;
	}
}
.md-full-screen {
	grid-template-areas: 
		"md md md"
		"md md md"
		"md md md"
		;
}
.html-full-screen {
	grid-template-areas: 
		"html html html"
		"html html html"
		"html html html"
		;
}
.previewer-full-screen {
	grid-template-areas: 
		"previewer previewer previewer"
		"previewer previewer previewer"
		"previewer previewer previewer"
		;
}

@media (max-width: 1000px) {
	#root {
		height: auto;
		min-height: 100%;
	}
	.App {
		grid-template-areas: "editor" "html-preview" "page-preview";
		grid-template-rows: 500px 500px 500px;
	}
}
@media (max-width: 350px) {
	.header-section .header p {
		font-size: 0.85em;
	}
}
