:root {
	--editor-scrollbar-color: rgba(0, 0, 0, 0.8);
	--editor-bg-color: rgba(255, 255, 255, 0.5);
	--editor-scrollbar-thumb-color: orangered;
	--editor-border-color: white;
	--editor-header-color: rgba(140, 0, 248, 0.5);
	--header-icon-color: white;
	--text-color: whitesmoke;
}

.markdown-editor {
	grid-area: editor;
	border: 2px solid var(--editor-bg-color);
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: relative;
	padding: 5px;
	display: flex;
	flex-direction: column;
	background-color: var(--editor-bg-color);
	color: var(--text-color);
	transition: height, 100ms ease;
}
