.preview__main {
    background-color: var(--bs-secondary-bg-subtle);
    display: flex;
    flex-direction: column;
}

.preview__main--output {
    background-color: rgb(0 0 0 / 10%);
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
