.playground__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 65px);
    gap: 5px;
    margin-top: 5px;
}

@media only screen and (max-width: 900px) {
    .playground__main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}