.navbar__main {
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35px 1fr 50px;
    align-items: center;
    place-content: center center;
    font-weight: bold;
}

.navbar__title {
    text-align: center;
    margin-bottom: 0;
}