.navbar__main {
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35px 1fr 50px;
    align-items: center;
    place-content: center center;
    font-weight: bold;
    background-color: rgba(21, 21, 22, 0.77);
}

.navbar__title {
    text-align: center;
    margin-bottom: 0;
}

@media (prefers-color-scheme: light) {
    .navbar__main {
        background-color: rgba(249, 249, 255, 0.77);
    }
}