.sidebar__main {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 250px;
    height: calc(100vh - 1.5px);
    border-radius: 5px 5px 5px 10px;
    padding: 10px;
    transition:
        width,
        400ms ease-out;
    overflow: hidden;
    transform-origin: left;
    box-shadow: 2.5px 0 15px var(--bs-body-color);
    z-index: 10;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
}

.sidebar__header--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 45px;
}

.sidebar__list--item {
    width: 100%;
}

.sidebar__list--item > a {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 50px 50px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar__list--colorscheme {
    background-color: var(--selector-bg-color);
    padding: 5px;
    border-radius: 10px;
}
