* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App {
    padding: 5px;
    font-family: Montserrat, sans-serif;
}
.align__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.container {
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
}
fieldset {
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
}

legend {
    float:none;
    width:auto;
}